.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;

}

body {
    background: linear-gradient(to right, rgb(227, 128, 204), lightgrey);
}

img {
    width: 200px;
}

#express {
    margin-left: 50px;
    visibility: hidden;
}

#websockets {
    visibility: hidden;
}

.imagenesMenu1 {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 8px;
}

.imagenesMenu1 img {
    width: 300px;
    border: 2px solid black;
}

#titulo {
    margin-left: -750px;
    width: 110px;
}

